/*Normalizer*/

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/*Normalizer*/


body {
  background-color: black;
}

a {
  color: #2B2F26;
}

a:hover {
  color: #CD5D67;
}

.nav-bar {
  position: fixed; top: 0;
  width: 89%;
  background-color: #FFFFFF;
  font-family: "Roboto";
  font-size: 19px;
  color: #131511;
  padding: 25px;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  list-style: none;
  margin-left: 80px;
  box-shadow: 0 0px 3px 0 grey;
}

.nav-item {
  margin-right: 1.8em;
  margin-left: 1.8em;
  display: inline-block;
}

.logo {
  background-image: url("images/bent-creek-logo.png");
  background-repeat: no-repeat;
  background-size: 50%;
  position: absolute;
  background-position: center;
  width: 5em;
  height: 6em;
  left: -.5em;
  top: -1em;
}

.page-header {
  background-color: #F2F1E8;
  margin-left: 80px;
  margin-right: 78px;
  padding-bottom: 1em;
  text-align: center;
}

.main-heading {
  font-family: "Lora";
  font-size: 70px;
  color: #131511;
  text-align: center;
  padding-top: 1.8em;
}

.sub-heading {
  font-family: "Lora";
  font-size: 40px;
  color: #131511;
  font-weight: lighter;
  padding-bottom: 1em;
}

.picture-boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
}

.slide-img1 {
  background-image: url(images/product-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 23.8em;
  width:  47em;
}

.slide-img2 {
  background-image: url(images/product-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 23.8em;
  width:  14em;
}

.slide-img3 {
  background-image: url(images/product-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 23.8em;
  width:  15em;
}

.slide-img4 {
  background-image: url(images/product-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15em;
  width:  15em;
}

.slide-img5 {
  background-image: url(images/product-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15em;
  width:  15em;
}

.slide-img6 {
  background-image: url(images/product-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15em;
  width:  30em;
}

.slide-img7 {
  background-image: url(images/product-7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15em;
  width:  15em;
}

.entry-title {
  font-family: "Lora";
  font-size: 20px;
  background-color: #21231D;
  color: #F2F1E8;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 30px;
  padding-left: 25px;
  float: left;
  clear: both;
  margin-top: 180px;
}

.entry-title1 {
  font-family: "Lora";
  font-size: 20px;
  background-color: #21231D;
  color: #F2F1E8;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 30px;
  padding-left: 25px;
  float: left;
  clear: both;
  margin-top: 300px;
}

.entry-title2 {
  font-family: "Lora";
  font-size: 20px;
  background-color: #21231D;
  color: #F2F1E8;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 30px;
  padding-left: 25px;
  float: left;
  clear: both;
  margin-top: 300px;
}

.entry-title3 {
  font-family: "Lora";
  font-size: 20px;
  background-color: #21231D;
  color: #F2F1E8;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 30px;
  padding-left: 25px;
  float: left;
  clear: both;
  margin-top: 300px;
}

.entry-title4 {
  font-family: "Lora";
  font-size: 20px;
  background-color: #21231D;
  color: #F2F1E8;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 30px;
  padding-left: 25px;
  float: left;
  clear: both;
  margin-top: 160px;
}

.entry-title5 {
  font-family: "Lora";
  font-size: 20px;
  background-color: #21231D;
  color: #F2F1E8;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 30px;
  padding-left: 25px;
  float: left;
  clear: both;
  margin-top: 160px;
}

.entry-title6 {
  font-family: "Lora";
  font-size: 20px;
  background-color: #21231D;
  color: #F2F1E8;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 30px;
  padding-left: 25px;
  float: left;
  clear: both;
  margin-top: 160px;
}

.entry-title7 {
  font-family: "Lora";
  font-size: 20px;
  background-color: #21231D;
  color: #F2F1E8;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 30px;
  padding-left: 25px;
  float: left;
  clear: both;
  margin-top: 160px;
}

.footer {
  background-color: #21231D;
  margin-left: 80px;
  margin-right: 78px;
  font-family: "Lora";
  font-size: 19px;
  font-weight: lighter;
  padding: 43px;
  color: #F2F1E8;
}
